html {
    background: #fff;
    overflow: auto;
}

a {
    color: #333;
    text-decoration: none;
    cursor: pointer;
    outline: 0 none;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

header,
footer,
article,
aside,
section,
nav,
menu,
hgroup,
details,
dialog,
figure,
figcaption {
    display: block
}

ol,
li,
ul,
dl,
dt,
dd {
    list-style: none;
}

fieldset,
img {
    border: 0
}

button,
submit,
input,
select {
    vertical-align: middle;
}

button,
submit {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

select,
button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    outline-style: none;
    outline-width: 0pt;
    padding: 0;
    margin: 0;
}

b,
em,
i {
    display: inline-block;
    font-weight: normal;
    font-style: normal;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    zoom: 1;
}
.fl {
    float: left;
}
.fr {
    float: right;
}

